/* GERAL */
body{
    margin: 0 auto;
    width: 100%;  
}
/*////GERAL////*/

/* IMAGENS */
img#voltar{
    width: 7%;
    float: left;
    margin-top: 7%;
    margin-left: 5%;
    display: none;
}

/*////IMAGENS////*/

/* TEXTOS E LINKS*/

/*////TEXTOS E LINKS////*/

/* DIVS */
div.imagem-cima {
    height: 11vh;
    width: 100%;
    background: #0ca789 url("../img/partecima.png") no-repeat top center;
    position: fixed;
}

div.imagem-meio {
    margin-top: 20%;
    margin-bottom: 80px;
    height: 90vh;
    width: 100%;
    position: fixed;
    background: white url("../img/jacuiRota3.png") no-repeat top center;
}

div.imagem-baixo {
    bottom: 0;
    height: 11vh;
    width: 100%;
    background: #0ca789 url("../img/partebaixo.png") no-repeat top center;
    position: fixed;
}
/*////DIVS////*/

/* API */
/*tem q setar o height pra setar o tamanho da div*/
#map {
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1;
}

#api-volta{
    z-index: 2;
}
/*////API////*/