/* GERAL */
body{
    margin: 0 auto;
    width: 40%;
}
/*////GERAL////*/
/*------------------------------------------------------------------------------------------------------------*/
/* IMAGENS */
img#cores{
    display: inline;
    margin-left: 7%;
    margin-right: 5%;
}
img#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img#perso {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
img#voltar{
    float: inline-start;
    width: 7%;
}
/*////IMAGENS////*/
/*------------------------------------------------------------------------------------------------------------*/
/* BOTÕES */
button#btnInserir{
    margin: 0 auto;
    width: 100%;
}
/*////BOTÕES E LINKS////*/
/*------------------------------------------------------------------------------------------------------------*/
/* CHECK BOX E PA */
#flexCheckDefault{
    margin-left: 5%;
}
.form-check-label{
    margin-left: 9%;
}
/*////CHECK BOX E PA////*/
/*------------------------------------------------------------------------------------------------------------*/
/* TEXTO E LINKS */

/*////TEXTO E LINKS////*/
/*------------------------------------------------------------------------------------------------------------*/
