/* GERAL */
body{
    margin-top: 30%;
    width: 100%;
}
/*////GERAL////*/

/* IMAGENS */
img#logo{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
}
img#voltar{
    float: left;
    margin-left: 15%;
    width: 7%;
}
/*////IMAGENS////*/

/* BOTÕES */
button#btnLogar{
    width: 70%;
    height: 5vh;
    font-size: 15pt;
    margin-bottom: 5%;
}
/*////BOTÕES E LINKS////*/

/* TEXTO E LINKS */
input.form-control{
    width: 70%;
    height: 5vh;
    font-size: 15pt;
    margin-bottom: 5%;
}

a {
    color: black;
}
/*////TEXTO E LINKS////*/