/* GERAL */
body{
    margin: 0 auto;
    width: 40%;
}
/*////GERAL////*/
/*------------------------------------------------------------------------------------------------------------*/
/* IMAGENS */
img#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*////IMAGENS////*/
/*------------------------------------------------------------------------------------------------------------*/
/* BOTÕES */
button#btnLogar{
    margin: 0 auto;
    width: 100%;
}

/*////BOTÕES////*/
/*------------------------------------------------------------------------------------------------------------*/
/* TEXTOS E LINKS*/
p{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

a {
    color: black;
    text-decoration: underline;
    text-align: center;
}

a:hover{
    color: black;
    text-decoration: underline;
}
/*////TEXTOS E LINKS////*/
/*------------------------------------------------------------------------------------------------------------*/
/* DIVS */
div.card{
    background-color: rgb(250, 250, 250);
}
/*////DIVS////*/
/*------------------------------------------------------------------------------------------------------------*/
