/* GERAL */
body{
    margin: 0 auto;
    width: 40%;
    border: 1px solid red;
}
/*////GERAL////*/
/*------------------------------------------------------------------------------------------------------------*/
/* TEXTOS E LINKS */
h2#titulo{
    text-align: center;
    margin: 0 0 5% 0; /*cima direita baixo esquerda*/
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
}

/*////TEXTOS E LINKS////*/
/*------------------------------------------------------------------------------------------------------------*/
/* BOTÕES */
button.escolha{
    height: 100%;
    width: 49%;
    display: inline;
    border: none;
}

/*////BOTÕES////*/
/*------------------------------------------------------------------------------------------------------------*/
/* IMAGENS */
input.escolha{
    background: #ccc url('img/IMGcorrida.png') no-repeat top left;
    width: 50%;
    height: 500px;
}
/*////IMAGENS////*/
/*------------------------------------------------------------------------------------------------------------*/
